body{
	font-family: 'Open Sans', sans-serif;
	background-color: whitesmoke;
	color: black;
}

.formClass{
	color: black;
}
.eligibleMsg{
	color: green;
	font-size: 30px;
	font-weight: bold;
	margin: 4px;
}

.bigText{
	font-size: 20px;
	margin: 4px;
}

.footerClass{
	background-color: #141520;
	color: white;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footerText{
	margin: 5px 0px;
}

.tableRow:hover{
	background-color: #5161ce;
}