{% extends "base.html" %}
{% load static %}

{% block title %}
Not Eligible
{% endblock %}

{% block header %}
    <style>
        .divText{
            font-size: 30px;
            color: red;
            text-align: center;
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    {% if flag == 1 %}
        <div class="divText">You are currently not eligible for vaccination.</div>
    {% endif %} 
    {% if flag == 2 %}
        <div class="divText">Wrong Aadhar Number! Please Verify.</div>
    {% endif %}
<div>
{% endblock %}