{% extends "base.html" %}
{% load static %}

{% block title %}
Dose log
{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<div class="container">
    <form class="well form-horizontal formClass" method="post"  id="eligibility_form">
    {% csrf_token %}
        
        <legend><h2><b>Vaccination Form</b></h2></legend>
        
        <div class="form-group">
            <label class="col-md-4 control-label">Aadhar Number</label>  
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input  name="aadhar" placeholder="Aadhar number" class="form-control"  type="text" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Centre Code</label>  
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input  name="centre_id" placeholder="Centre Code" class="form-control"  type="text" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Status:</label>
            <div class="col-md-4 inputGroupContainer">
                <select name="status" id="status">
                    <option value="dose1">Vaccinated with Dose 1</option>
                    <option value="dose2">Vaccinated with Dose 2</option>
                </select>
            </div>
        </div>




        
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
{% endblock %}